!!! 5
html
  head
    meta(charset="utf-8")
    link(href="css/bootstrap.min.css", rel="stylesheet")
    link(href="css/font-awesome.css", rel="stylesheet")
    link(href="css/palabras.css", rel="stylesheet")
    title #{__i("title")}
  body!= body